<div id="app">
  <h1>This is where the Backbone should be loaded</h1>
</div>


<!-- Overall view of   -->
<script type="html/template" id="SearchViewTemplate">

<h1>Make your reservation here</h1>

<div id="searchForm">
  An instance of flightView should be loaded here
</div>

<div id="flights">
  <!-- All flights should be loaded here if user is not searching anything -->
</div>
</script>

<script type="html/template" id="searchInputTemplate">
  <input type="text" placeholder="origin" id="origin"/>
  <input type="text" placeholder="destination" id="destination"/>

  <button>Submit</button>
</script>
