<div class="container center">
 <div class="card-panel">

<h1>Editing User</h1>

<%= render 'form' %>

<%= link_to 'Show', @user, :class => "btn blue darken-4"  %> |
<%= link_to 'Back', users_path, :class => "btn blue darken-4"  %>

  </div>
</div>
