<div id="app">
  <h1>This is where Backbone should be loaded</h1>
</div>

<script type="html/template" id="AppViewTemplate">
  <h1> Emus Backbone </h1>
</script>

<script type="html/template" id="SeatInputViewTemplate">
  <div id="seats">

  <span></span>       <span></span>
  <span></span>       <span></span>

  </div>
</script>
