<div id="app">
  <h1>This is where Backbone should be loaded</h1>
</div>

<script type="html/template" id="AppViewTemplate">
  <h1>Emu Air seating plan</h1>

  <div id="flightForm">
     FlightInputView here
  </div>
  <ul id="seats">
    <!--seats go here -->
  </ul>
</script>

<script type="html/template" id="SeatInputViewTemplate">
  <textarea placeholder="Please select yur seat"></textarea>
  <button>Submit</button>

</script>
