<div id="app">
  <h1>This is where the Backbone should be loaded</h1>
</div>

<script type="html/template" id="AppViewTemplate">

<h1>Make your reservation here</h1>

<div id="searchForm">
  An instance of searchInputView should be loaded here
</div>

<ul id="flights">
  <!-- All flights should be loaded here if user is not searching anything -->
</ul>
</script>
