<div class="container center">
 <div class="card-panel">

  <h2>New Reservation</h2>

  <%= render 'form' %>
  <%= link_to 'Back', reservations_path, :class => "btn blue darken-4"  %>

 </div>
</div>
