#app {
  border: 1px solid tomato;
  padding: 5px 10px;
}

#seats {
  border: 1px dashed black;
}

span {
  border: 1px solid black;
}

info {
  border: 1px solid orange;
}
tr td {
  border: 1px solid black;
  text-align: center;
  border-radius: 5px;
}

tr th {
  text-align: center;
}

#aisle{
  border-top: 0px;
  border-bottom: 0px;
}
